
html {
	font-size: 16px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue,
		PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

body,
ul,
li,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

image {
	vertical-align: middle;
}

#app {
	position: absolute;
	font-family: Roboto, Helvetica Neue, Arial, sans-serif;
	background: #f5f8fc;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 20px;
	cursor: pointer;
}

/* nav */
.nav {
	position: absolute;
	width: 100%;
}

.nav ul {
	display: flex;
	height: 30px;
	line-height: 30px;
	color: white;
	background: black;
}

.nav li {
	display: flex;
	flex: 1;
	text-align: center;
}

.nav a {
	flex: 1;
	color: whitesmoke;
	text-decoration: none;
}

/* pages */
.pages {
	box-sizing: border-box;
	width: 100%;
	padding: 80px;
	background-size: cover;
}

/* page Home */
.home {
	font-size: 30px;
	display: block;
	background-image: url(../assets/images/home.png);
}

.memo-list {
	display: flex;
	flex-wrap: wrap;
	li {
		width: 20%;
	}
}
