.pages.list-api {
	padding: 80px 0 0 0px;
	.filters {
		padding: 30px;
		width: 200px;
		background: #ccc;
		label {
			display: flex;
			margin: 0 0 16px;
			span {
				width: 100px;
			}
			input {
				flex: 1;
			}
		}
		button {
			display: block;
			margin: 0 auto;
		}
	}
	.container {
		box-sizing: border-box;
		padding: 16px;
		flex: 1;
		background: rgb(250, 216, 216);
		.catagry {
			display: flex;
			li {
				width: 25%;
			}
		}
		.list {
			ul {
				display: flex;
				width: 100%;
				li {
					flex: 1;
				}
			}
		}
		.pagination {
			margin: 10px 0;
			width: 100%;
			li {
				display: inline-block;
				border: 1px solid #ccc;
				margin-right: 8px;
				padding: 8px 16px;
			}
		}
	}
}
